html {
    height: 100%;
}

body {
    height: 100%;
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(15,9,121,1) 0%, rgba(0,136,255,1) 100%);*/
    /*background: rgb(0,0,52);*/
    /*background: linear-gradient(180deg, rgba(0,0,52,1) 0%, rgba(35,82,171,1) 50%);*/
    background: rgb(0,17,91);
    background: linear-gradient(180deg, rgba(0,17,91,1) 0%, rgba(7,64,133,1) 50%, rgba(35,82,171,1) 100%);
    color: #fff;
}


.flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.flex-column-direction {
    flex-direction: column;
}

.editor-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.editor-menu li {
    float: left;
}

.editor-menu li a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 16px;
}

.editor-menu li a:hover {
    color: #ddd;
}

#editor-table {

}